/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Animation duraiton */
  --animation-duration: 300ms;
}
/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Universal tags */
* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  cursor: default;
}
a {
  text-decoration: none;
  color: var(--color-white);
}
ul {
  list-style: none;
  padding-left: 0;
}
li {
  list-style: none;
}
button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--color-pink);
  align-items: center;
  color: var(--color-white);
  padding: 16px;
}
.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  cursor: pointer;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}
.navbar__menu__item:hover {
  background-color: var(--color-dark-pink);
}

/* Home */
#home {
  background: url("imgs/homebackground.png") center/cover no-repeat;
  padding: 40px;
  text-align: center;
}
.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-black);
}
.home__title,
.home__descripton {
  color: var(--color-white);
}
.home__contact {
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
  color: var(--color-white);
}

/* Section common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About me */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
/* .major는 내가 임의로 넣은 것임 */
.major {
  width: 300px;
  height: 300px;
  margin: auto;
}
.major__icon {
  width: 170px;
  height: 170px;
  font-size: 70px;
  line-height: 170px;
  color: var(--color-blue);
  margin: auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
}
.major_icon i {
  transition: all var(--animation-duration) ease;
}
.major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.2);
}
.major__title,
.major_description {
  color: var(--color-dark-grey);
}
.major_description {
  font-size: var(--font-small);
}
.job {
  display: flex;
  align-items: center;
}
.job__description {
  margin: 0 16px;
  text-align: left;
}

.job__name,
.job__period {
  color: var(--color-light-grey);
}
.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}

/* Skills */
#skills {
  background-color: var(--color-yellow);
}
.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
.skillset__title {
  color: var(--color-white);
  margin: 0px;
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  height: 3px;
  background-color: var(--color-orange);
}
.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
.skill {
  margin-bottom: 30px;
}
.skillset__right {
  flex-basis: 40%;
}
.tools {
  background-color: var(--color-grey);
}
.tootls,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

/* 카테고리버튼이 액티브인 상태의 카테고리 카운트와 
   카테고리 버튼에 마우스가 올라와 있을 때 카테고리 카운트일 때*/
.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  /* 숫자가 중간으로 오게 */
  line-height: 24px;
  /* 숫자가 span이기 때문에 동그라미가 예쁘지 않아 다음 추가해준다 */
  display: inline-block;
  /* 평소에는 숫자가 안보이다 hover일 때만 보이게 */
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
.work__projects {
  display: flex;
  /* 아이템이 꽉차면 줄바꿈 */
  flex-wrap: wrap;
  /* 가운데 정렬 */
  justify-content: center;
}
.project {
  position: relative;
  /* 이지지를 수직 수평 가운데로 만들기 */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
}
.project__img {
  /* 이미지는 자기가 속해 있는 통안에서만 커저야 한다 */
  max-width: 100%;
  max-height: 100%;
}
.project__description {
  /* 세로를 가운데 정렬 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  /* position을 absolute로 한 후에
     project의 position을 relative로 바꿔줌 */
  top: 0;
  left: 0;
  background-color: black;
  width: 100%;
  height: 100%;
  /* 마우스가 안올라와 있을 때는 안보이게 한다 */
  opacity: 0;
  transform: translateX(10px);
  /* description에 애니메이션 만들기 */
  transition: all var(--animation-duration) ease-in;
}
/* 프로젝트에 마우스가 올라오면 그 안에 있는 프로젝트 디스크립션을
    */
.project:hover .project__description {
  opacity: 0.8;
  transform: translateX(0px);
}
.project__description h3 {
  color: var(--color-white);
}
/* 두개의 디스크림션 중간에 선 넣기 */
.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 25px;
  height: 2px;
  margin-left: -12px;
  margin-top: 8px;
  background-color: var(--color-dark-white);
}
